# Ansible
*.retry
*.log

# SSH keys and sensitive files
ssh-keys/
*.key
*.crt
*.pem
*.pub

ansible-config/roles/users/files/

# Python
__pycache__/
*.pyc

# System
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Docker
.docker/

# Other
*.bak 